form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.inp{
    width: 400px;
    height: 40px;
    border-style: none;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 5px;
    font-size: 19px;
}

.add-btn{
    width: 150px;
    height: 40px;
    margin: 15px;
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    border-style: none;
}

.add-btn:hover{
    background-color: lightseagreen;
    border-style: none;
    color: black;
}

.lbl{
    font-size: 1.2em;
    margin: 7px;
}

.row{
    margin: 0px;
    padding: 0px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    /*border: 2px solid green;*/
}

.status{
    display: none;
    margin-top: 10px;
    margin-bottom: 7px;
    color: white;
    text-align: center;
    font-size: 30px;
}

@media (min-width:613px) and (max-width:1219px){

    .btn-row{
        display: flex;
        flex-direction: row;
        align-items: start;
        height: 90px;
    }

    .inp{
        width: 600px;
    }
}

@media (min-width:413px) and (max-width:612px){
    .btn-row{
        display: flex;
        flex-direction: row;
        align-items: start;
        height: 90px;
    }

    .inp{
        width: 400px;
    }
}

@media (max-width:413px){
    .inp{
        width: 300px;
    }
}