html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    overflow: auto;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: wheat;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.container{
    display: grid;
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: 0.5fr 3.5fr;
    gap: 5px;
}

header{
    background-color: tan;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.app-name{
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.admin-nav{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.active{
    background-color: lightseagreen;
}

.nav-item{
    float: left;
    text-decoration: none;
    color: black;
    padding: 25px;
}

.nav-item:hover{
    background-color: lightseagreen;
    color: white;
}


.dropdown{
    display: none;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 5px 8px 10px 0px black;
    background-color: tan;
}

.dropdown-content .nav-item{
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    float: none;
    text-align: left;
    border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.content{
    grid-area: content;
}

footer{
    height: auto;
    grid-area: footer;
    background-color: tan;
    padding: 25px;
}

/* On tablets and mobile phones, the header must be collapsed.*/
@media (max-width: 546px) {

    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
    }

    header .app-name{
        display: block;
        order: 1;
    }

    .dropdown{
        display: block;
    }

    .admin-nav, .nav-item{
        display: none;
    }

}