html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    overflow: auto;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: burlywood;
    /*(background-image: url("../images/login-background-img2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    border: 2px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    text-align: center;
    width: 50vw;
}

.app-name-container .app-name{
    font-size: 3em;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
    background: linear-gradient(peru, burlywood);
}

.lg-heading{
    text-align: center;
    font-size: 2.5em;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.u-lbl, .p-lbl{
    font-size: 1.8em;
}

.u-inp, .p-inp{
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 450px;
}

.s-btn{
    width: 200px;
    height: 45px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.s-btn:hover{
    background-color: lightblue;
    color: black;
}

.status{
    display: none;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

@media (min-width: 350px) and (max-width: 399px) {
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .u-inp, .p-inp{
        width: 280px;
    }

    .app-name-container .app-name{
        font-size: 2em;
    }
}

@media (min-width: 300px) and (max-width: 399px) {
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .u-inp, .p-inp{
        width: 200px;
    }

    .form-container{
        width: 80vw;
    }
}

@media (min-width: 400px) and (max-width: 449px) {
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .u-inp, .p-inp{
        width: 300px;
    }

    .form-container{
        width: 80vw;
    }
}

@media (min-width: 450px) and (max-width: 484px) {
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .u-inp, .p-inp{
        width: 330px;
    }

    .form-container{
        width: 80vw;
    }
}

@media (min-width: 485px) and (max-width: 712px) {
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        width: 80vw;
    }

    .u-inp, .p-inp{
        width: 380px;
    }
}

@media (min-width: 713px) and (max-width: 858px) {
    
    .form-container{
        width: 90vw;
    }

    .u-inp, .p-inp{
        width: 310px;
    }
}

@media (min-width: 859px) and (max-width: 862px) {
    
    .form-container{
        width: 60vw;
    }

    .u-inp, .p-inp{
        width: 360px;
    }
}

@media (min-width: 863px) and (max-width: 1237px) {
    
    .form-container{
        width: 85vw;
    }

    .u-inp, .p-inp{
        width: 340px;
    }
}

@media (min-width: 1238px) and (max-width: 1600px) {
    
    .form-container{
        width: 75vw;
    }

    .u-inp, .p-inp{
        width: 340px;
    }
}

/*@media (max-width: 799px) {
    
    .form-container{
        width: 80vw;
    }

    .u-inp, .p-inp{
        width: 300px;
    }
}*/










