body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: burlywood;
}

.lg-container{
    display: flex;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    height: 100vh;
    /*box-shadow: 0px 0px 0 5px grey;*/
}

.app-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/login-background-img2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    margin-right: 0;
}

.app-name{
    color: white;
    border-radius: 10px;
    padding: 10px;
}

h1{
    font-size: 3em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: auto;
    margin-bottom:auto;
    margin-top: auto;
    padding: 20px;
    width: 50%;
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-lbl, .u-lbl, .s-btn{
    font-size: 2em;
}

.u-lbl, .p-lbl{
    margin: 15px;
}

.u-inp, .p-inp{
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    border-width: 4px;
    border-style: none;
    border-bottom-style: solid;
    font-size: 22px;
    padding: 15px;
    margin: 7px;
}

.s-btn{
    width: 200px;
    max-width: 100%;
    min-height: 50px;
    border-radius: 15px;
    margin: 25px;
    background-color: blue;
    color: white;
}

.s-btn:hover{
    background-color: lightblue;
    color: black;
}

.status{
    display: none;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 1609px) {
    
    .lg-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .app-name-container{
        width: 100vw;
    }

    form{
        width: 100vw;
    }
}

@media (min-width: 686px) and (max-width: 1609px) {
    
    .app-name-container{
        height: 50vh;
    }

    form{
        height: 50vh;
    }
}

@media (min-width: 928px) and (max-width: 1608px) {
    
    .p-inp, .u-inp{
        width: 450px;
    }
}

@media (min-width: 829px) and (max-width: 927px) {
    
    .p-inp, .u-inp{
        width: 400px;
    }
}

@media (min-width: 686px) and (max-width: 828px) {
    
    .p-inp, .u-inp{
        width: 320px;
    }
}

@media (min-width: 500px) and (max-width: 685px) {
    
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-inp, .u-inp{
        width: 500px;
    }
}

@media (min-width: 200px) and (max-width: 499px) {
    
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-inp, .u-inp{
        width: 350px;
    }

    .app-name{
        font-size: 2.5rem;
    }
}

/*
    Targets small screen devices that don't display the login page
    well in landscape mode.

    WHEN YOU HAVE TIME TRY FIXING THIS!!!!
*/

