body{
    margin: 0;
    padding: 0;
    /*background-image: url("../images/login-background-img2.png");*/
    background-color: wheat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*
       The styles below will center the body's content on the
       screen.
    */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.lg-container{
    border-radius: 30px;
    /* 
       Ensures that the form content does not overflow the width of this
       container.
    */
    padding: 0;
    width: 100%;
    max-width: 100%;
    /*box-shadow: 0px 0px 0 5px grey;*/
}

h1{
    font-size: 3em;
}

form{        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top: auto;
    padding: 35px;
    width: 100%;
}

.p-lbl, .u-lbl, .s-btn{
    font-size: 2em;
}

.u-lbl, .p-lbl{
    margin: 15px;
    max-width: 100%;
}

.u-inp, .p-inp{
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    border-width: 4px;
    border-style: none;
    border-bottom-style: solid;
    font-size: 22px;
    padding: 15px;
}

.s-btn{
    width: 200px;
    max-width: 100%;
    min-height: 50px;
    border-radius: 15px;
    margin: 25px;
    background-color: blue;
    color: white;
}

.s-btn:hover{
    background-color: lightblue;
    color: black;
}

.status{
    display: none;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

/* Make the UI adaptive to small device screens*/

@media (min-width: 546px) and (max-width: 639px) {

    .p-inp, .u-inp{
        width: 400px;
    }
}

@media (min-width:400px) and (max-width: 545px){

    .p-inp, .u-inp{
        width: 300px;
    }
}

@media (max-width:412px) {
    .lg-container{
        width: 300px;
    }
}