.content h1{
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.row a{
    display: inline-block;
    width: 500px;
    height: 200px;
    text-align: center;
    align-content: center;
    border-start-start-radius: 50px;
    border-end-end-radius: 50px;
    background-color: rgb(100, 87, 87);
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.row a:hover{
    background-color: tomato;
}

.row a{
    text-decoration: none;
    text-align: center;
}

@media (min-width:577px) and (max-width:613px){

    .row{
        flex-direction: column;
        height: 400px;
        margin: 5px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .row a{
        width: 500px;
        margin: 7px;
        text-align: center;
        align-content: center;
    }
}

@media (min-width:413px) and (max-width:576px){

    .row{
        flex-direction: column;
        height: 400px;
        margin: 5px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .row a{
        width: 400px;
        margin: 7px;
        text-align: center;
        align-content: center;
    }
}

@media (min-width:614px){

    .row a{
        width: 500px;
        margin: 7px;
        text-align: center;
        align-content: center;
    }
}

@media (max-width:412px) {
    .row{
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .row a{
        width: 360px;
        height: 100px;
        margin: 7px;
    }
}