.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.content h1{
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    /*margin-bottom: 25px;*/
}

.menu-item button{
    border-radius: 15px;
    background-color: peru;
    margin: 7px;
    width: 200px;
    padding: 10px;
    border: none;
    font-size: 18px;
}

.menu-item button:hover{
    background-color: lightgray;
}

.month-selector-vst{
    margin: 15px;
}

.prev-month-vst, .next-month-vst{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.selected-month-vst{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

.summaries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 7px;
    border: none;
}

.summary .summary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: darkgrey;
    border-radius: 15px;
}

.summary .summary-content{
    background-color: lightgrey;
    width: 95%;
    margin-top: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.open{
    display: block;    
}

.closed{
    display: none;
}

.fact .lbls{
    font-size: 20px;
    margin: 7px;
    font-weight: bold;
}

.summary-header .collaps{
    font-size: 20px;
    width: 80px;
    height: 30px;
    margin-left: 15px;
}

/*footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

@media (min-width: 683px) and (max-width:1328px) {
    
    .menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 457px) and (max-width: 682px) {
    
    .menu{
        display: grid;
        grid-template-columns: repeat(2,1fr);        
    }
}

@media (max-width: 456px) {
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu-item button{
        width: 100%;
    }
}